@import 'utils/variables';
@import 'utils/colors';
@import 'utils/text';

@import 'header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 1rem;
}
