{{!< base}}

<div class="container">
  <h2>Contact</h2>
  <p>Hello! If you want contact with me, please send me a message at <a
      href="mailto:parcel@bycfrontendem.blog">parcel@bycfrontendem.blog</a></p>
</div>