{{!< base}}

<main class="container">
  <h1>Hello World!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aperiam odio natus dolorum in doloribus eum ut
    consectetur illo ullam consequatur alias dignissimos autem, eveniet, nihil laborum omnis. Labore harum ea beatae sit
    ab soluta ipsa at corporis. Rerum, ex aspernatur quasi deleniti nulla cupiditate eos illum quisquam? Accusantium,
    maiores eveniet molestiae qui nam facere facilis quaerat, fugiat nemo magni nisi impedit expedita porro. Quidem
    assumenda officia quo repellendus nemo voluptatem corrupti officiis natus fugiat sapiente, beatae perspiciatis iusto
    alias reiciendis rem voluptate! Ipsum architecto placeat aperiam blanditiis! Iusto sapiente asperiores mollitia,
    ullam ratione ipsum ducimus magni ea, deserunt saepe quidem. Officiis harum alias tenetur id eius odio beatae facere
    maiores quo, veniam, amet veritatis labore nihil culpa accusantium provident distinctio porro? Cum magnam facilis
    quidem ducimus amet delectus voluptatum rem est tenetur inventore nisi, laudantium tempora, officia doloremque dolor
    commodi! Fuga totam cum facilis, aliquid non sit autem! Laudantium quae, ad aliquam ullam sit est praesentium dolore
    voluptatibus, inventore iure consectetur. Aut ipsa ipsam laudantium dicta similique possimus optio? Nulla esse
    excepturi alias non minima dolore odio doloribus temporibus? Ratione quas officia error nostrum velit nulla vero
    reprehenderit dolore. Alias pariatur repellat perspiciatis doloribus rerum mollitia amet autem ipsa.</p>
</main>